
@import url(https://fonts.googleapis.com/css?family=Lato:700italic,400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans+Mono);

html {
    -webkit-font-smoothing: antialiased;
}

:root {
    --background:#f9f9f9;
    --foreground:#2c3e50;

    --foreground-light:#34495e;

    --size:50px;
    --ratio:1.2;

    --transition-time:0.3s;
}

body {
    background: var(--background);
    /* font-family: 'Open Sans', sans-serif;*/
    font-family: Droid Sans Mono;
    font-size: 10pt;
    text-align: center;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip .tooltiptext_leftaligned {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 10%;
    margin-left: -10px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext_leftaligned::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 10%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext_leftaligned {
    visibility: visible;
    opacity: 1;
}
